@import "@styles/_variables.scss";
@import "@styles/_mixins.scss";

.button_purple {
  padding: 0.6rem 1rem;
  border: none;
  background-color: $purple-color;
  text-transform: uppercase;
  color: $neutral-100;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button {
  padding: 0.6rem 1rem;
  border: 3px solid $neutral-1000;
  background-color: $neutral-100;
  text-transform: uppercase;
  color: $neutral-1000;
  font-size: 0.8rem;
  font-weight: 900;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button_black {
  padding: 0.6rem 1rem;
  border: 3px solid $neutral-1000;
  background-color: $neutral-1000;
  text-transform: uppercase;
  color: $neutral-100;
  font-size: 0.8rem;
  font-weight: 900;
  border-radius: 0.2rem;
  cursor: pointer;
}

.button_pink {
  padding: 0.8rem 1rem;
  border: 3px solid $pink-color;
  background-color: $pink-color;
  text-transform: uppercase;
  color: $neutral-100;
  font-size: 0.8rem;
  font-weight: 900;
  border-radius: 10rem;
  cursor: pointer;
  width: 100%;
}
