@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.card {
  background-color: $neutral-100;
  padding: 1.5rem;
  border-radius: 20px;
}

p {
  color: $neutral-500;
  margin-top: 1rem;
}
